# ========== Visual Studio ==========
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.VC.db
*.VC.VC.opendb
*.VC.opendb

# ========== Python ==========
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/